.EditerBar {
  background-color: #d6f6aa;
  height: 180px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 10px; }
  .EditerBar .showNumber {
    text-align: right;
    line-height: 20px;
    margin-right: 10px;
    color: #93968d; }
  .EditerBar .editerArea {
    height: 130px;
    padding: 0px 10px 10px; }
    .EditerBar .editerArea textArea {
      width: 100%;
      height: 100%;
      resize: none;
      background: #f3fde5;
      border: 1px solid #a1c374; }
  .EditerBar .option {
    height: 30px;
    background-color: #aac18b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .EditerBar .option .item {
      display: inline-block;
      line-height: 30px;
      padding: 0px 10px;
      border-right: 2px solid black;
      cursor: pointer; }
    .EditerBar .option .right {
      float: right;
      text-align: right;
      padding-right: 20px; }
      .EditerBar .option .right .item {
        display: inline-block;
        line-height: 30px;
        padding: 0px 10px;
        border-right: none;
        cursor: pointer; }
        .EditerBar .option .right .item .c_comber {
          display: none;
          position: absolute;
          z-index: 1000;
          text-align: left;
          background: #f3fde5 none repeat scroll 0% 0%;
          height: auto;
          border: 1px solid #aac18b; }
          .EditerBar .option .right .item .c_comber .driver {
            border-bottom: 1px solid #aac18b; }
          .EditerBar .option .right .item .c_comber li {
            padding: 0px 5px; }
          .EditerBar .option .right .item .c_comber li:hover {
            background: #829961;
            color: #CCDD07; }

.ulPop_comber {
  display: none;
  position: absolute;
  z-index: 1000;
  text-align: left;
  background: #f3fde5 none repeat scroll 0% 0%;
  height: auto;
  border: 1px solid #aac18b; }
  .ulPop_comber .driver {
    border-bottom: 1px solid #aac18b; }
  .ulPop_comber li {
    padding: 5px 5px;
    cursor: pointer; }
  .ulPop_comber li:hover {
    background: #829961;
    color: #CCDD07; }

.message {
  margin-top: 10px;
  position: relative;
  padding-top: 10px; }
  .message .message_container {
    margin: 0px 10px 0px;
    min-height: 140px;
    background-color: #D6F6AA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .message .message_container .content {
      min-height: 80px;
      width: 100%;
      padding-left: 50px;
      border-bottom: 2px solid #76964A; }
      .message .message_container .content .publishName {
        color: #1A3407;
        font-weight: 600;
        font-size: 16px;
        line-height: 40px;
        padding-left: 10px; }
      .message .message_container .content .publishContent {
        color: #4d6f2e;
        padding-left: 10px;
        line-height: 30px; }
      .message .message_container .content .vidieo {
        min-height: 150px;
        background-color: #aac18b;
        margin-right: 60px;
        padding: 10px; }
        .message .message_container .content .vidieo .symbol {
          color: #c1d438;
          line-height: 30px; }
        .message .message_container .content .vidieo .name {
          font-weight: 600;
          margin: 0px 10px;
          line-height: 30px; }
        .message .message_container .content .vidieo .vidieo_container {
          height: 100px;
          width: 100px;
          background-color: gray; }
        .message .message_container .content .vidieo .vidieo_info {
          color: #808477;
          line-height: 30px; }
    .message .message_container .info {
      height: 60px;
      width: 100%; }
      .message .message_container .info .datetime {
        font-size: 14px;
        line-height: 60px;
        color: #808477;
        font-weight: 600;
        margin-left: 60px; }
      .message .message_container .info .optionBar {
        float: right;
        line-height: 60px;
        padding-right: 20px; }
        .message .message_container .info .optionBar .item {
          display: inline-block;
          line-height: 60px;
          padding: 0px 10px;
          cursor: pointer;
          font-weight: 600;
          color: #808477;
          position: relative; }
          .message .message_container .info .optionBar .item .showLogo {
            background: #B2C693 none repeat scroll 0% 0%;
            width: 20px;
            display: block;
            height: 20px;
            position: absolute;
            bottom: -10px;
            left: 15px;
            display: none; }
        .message .message_container .info .optionBar .driver {
          border: 1px solid #808477; }
  .message .Icon {
    background-color: #93968d;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px; }
  .message .commentsBar {
    background: #b2c693;
    margin: 0px 10px 10px;
    min-height: 200px;
    display: none; }
    .message .commentsBar .commentBarContainer {
      padding: 20px 40px; }
    .message .commentsBar .packup {
      text-align: right;
      padding: 10px;
      color: #547933; }
      .message .commentsBar .packup span {
        cursor: pointer; }
    .message .commentsBar .input_container {
      border: 1px solid #A1C374;
      height: auto;
      padding: 0px;
      width: 670px;
      background-color: #FFF;
      position: relative; }
      .message .commentsBar .input_container input {
        width: 640px;
        border: medium none;
        line-height: 30px; }
      .message .commentsBar .input_container span {
        position: absolute;
        right: 0px;
        margin-top: 10px;
        color: #93968D; }
    .message .commentsBar .optionBar {
      padding: 10px 0px;
      border-bottom: 1px solid #76964A; }
      .message .commentsBar .optionBar .item {
        padding-right: 10px;
        cursor: pointer; }
      .message .commentsBar .optionBar .rightOption {
        float: right; }
        .message .commentsBar .optionBar .rightOption .item {
          display: inline-block; }
    .message .commentsBar .commentContainer .item {
      height: 100px;
      padding: 10px;
      border-bottom: 1px solid #76964A; }
      .message .commentsBar .commentContainer .item .icon {
        float: left; }
        .message .commentsBar .commentContainer .item .icon img {
          width: 80px;
          height: 80px; }
      .message .commentsBar .commentContainer .item .content {
        float: left;
        word-wrap: break-word;
        word-break: break-all;
        width: 560px;
        padding-left: 10px;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        height: 60px; }
      .message .commentsBar .commentContainer .item .infoBar {
        float: left;
        width: 560px;
        padding-left: 10px; }
        .message .commentsBar .commentContainer .item .infoBar .publishtime {
          color: gray; }
        .message .commentsBar .commentContainer .item .infoBar .btnBar {
          float: right; }
          .message .commentsBar .commentContainer .item .infoBar .btnBar .item {
            display: inline-block;
            height: 30px;
            padding: 10px;
            color: #547933;
            cursor: pointer; }
          .message .commentsBar .commentContainer .item .infoBar .btnBar .driver {
            border: 1px solid #76964a; }

.video_pop {
  position: absolute;
  z-index: 100;
  width: 400px;
  height: 150px;
  background: #f3fde5 none repeat scroll 0% 0%;
  border: 1px solid #a1c374;
  padding: 0px 0px 20px 20px;
  display: none; }
  .video_pop .closeBar {
    text-align: right;
    color: #547933;
    padding-right: 10px;
    font-weight: 600;
    cursor: pointer; }
  .video_pop .video_select {
    margin-bottom: 30px; }
  .video_pop .video_option .item {
    padding: 5px 20px;
    border-right: 0px; }
  .video_pop .video_option .item:hover {
    background: #547933;
    color: #CCDD07; }
  .video_pop .video_option .driver {
    border-left: 2px solid #547933;
    margin: 0px 5px; }
  .video_pop .video_option .active {
    background: #547933;
    color: #CCDD07; }

.video_address {
  position: absolute;
  z-index: 100;
  width: 600px;
  height: 90px;
  background: #f3fde5 none repeat scroll 0% 0%;
  border: 1px solid #a1c374;
  padding: 0px 10px 10px 10px;
  display: none; }
  .video_address .closeBar {
    text-align: right;
    color: #547933;
    font-weight: 600;
    cursor: pointer; }

.form-group {
  margin-left: 0px;
  margin-right: 0px; }

.smallbtn {
  position: relative; }
  .smallbtn img {
    height: 26px;
    cursor: pointer; }
  .smallbtn span {
    position: absolute;
    color: #FFF;
    top: 2px;
    left: 24px;
    font-weight: 600;
    cursor: pointer; }

.itemClear {
  clear: both; }

/*# sourceMappingURL=dynamic.css.map */
