.center .navbar {
  height: 40px;
  line-height: 40px;
  background-color: #D6F6AA;
  margin-right: 20px;
  padding: 5px 10px; }
  .center .navbar .item {
    padding: 0px 10px;
    color: gray;
    cursor: pointer; }
    .center .navbar .item img {
      height: 16px; }
  .center .navbar .active {
    color: #547933; }
.center .familyInfo {
  background-color: #D6F6AA;
  margin-right: 20px;
  height: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .center .familyInfo .form-horizontal {
    height: 300px;
    padding: 10px; }
    .center .familyInfo .form-horizontal .form-group {
      height: 40px;
      margin: 0px 0px 10px 0px; }

.btn {
  position: relative;
  margin-top: -15px; }
  .btn img {
    height: 36px;
    cursor: pointer; }
  .btn span {
    position: absolute;
    color: #FFF;
    top: 14px;
    left: 34px;
    font-weight: 600;
    cursor: pointer; }

.message {
  margin-top: 10px;
  position: relative;
  padding-top: 10px; }
  .message .message_container {
    margin: 0px 10px 10px;
    min-height: 140px;
    background-color: #D6F6AA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .message .message_container .content {
      min-height: 80px;
      width: 100%;
      padding-left: 50px;
      border-bottom: 2px solid #76964A; }
      .message .message_container .content .publishName {
        color: #1A3407;
        font-weight: 600;
        font-size: 16px;
        line-height: 40px;
        padding-left: 10px; }
      .message .message_container .content .publishContent {
        color: #4d6f2e;
        padding-left: 10px;
        line-height: 30px; }
      .message .message_container .content .vidieo {
        min-height: 150px;
        background-color: #aac18b;
        margin-right: 60px;
        padding: 10px; }
        .message .message_container .content .vidieo .symbol {
          color: #c1d438;
          line-height: 30px; }
        .message .message_container .content .vidieo .name {
          font-weight: 600;
          margin: 0px 10px;
          line-height: 30px; }
        .message .message_container .content .vidieo .vidieo_container {
          height: 100px;
          width: 100px;
          background-color: gray; }
        .message .message_container .content .vidieo .vidieo_info {
          color: #808477;
          line-height: 30px; }
    .message .message_container .info {
      height: 60px;
      width: 100%; }
      .message .message_container .info .datetime {
        font-size: 14px;
        line-height: 60px;
        color: #808477;
        font-weight: 600;
        margin-left: 60px; }
      .message .message_container .info .source {
        font-size: 14px;
        line-height: 60px;
        color: #808477;
        font-weight: 600;
        margin-left: 20px; }
      .message .message_container .info .optionBar {
        float: right;
        line-height: 60px;
        padding-right: 20px; }
        .message .message_container .info .optionBar .item {
          line-height: 60px;
          padding: 0px 10px;
          border-right: 2px solid #808477;
          cursor: pointer;
          font-weight: 600;
          color: #808477; }
  .message .Icon {
    background-color: #93968d;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px; }
